/* #variaveis */

/* # cores */
$cor-primaria: #008C96;
$cor-secundaria: #045e70;
$cor-branca: #fff;
$cor-font-form: #5E5E5E;
$cor-font-placeholder: #969696;
$cor-cinza-padrao: #4a5759;
$cor-botao: #008c96;

/* # form*/
$borda-padrao: none;
$font-field: .85em;
$font-placeholder: .95em;
$font-padrao: 'Ubuntu', sans-serif;
$font-tamanho-padrao: 2.07em;
